{% include 'header.html' %}
    <!-- Wrap all page content here -->
    <div id="wrap">
      <div class="container">
        <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="page-header">
                    <h1>
                        이번주의 주제는? <small>League of Soma</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2">
            </div>
            <div class="span6">
                <img alt="140x140" src="src/main.jpg">
            </div>
            <div class="span2">
            </div>
        </div>
        </div>
      </div> <!-- /container -->
    </div> <!-- /wrap -->
{% include 'footer.html' %}