<header class="header">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href=<%= root_path %>>League of Soma</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href=<%= root_path %>>Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="http://www.swmaestro.kr/homepage/default/page/subLocation.do?menu_no=20010202&up_menu_no=200102">내 얼굴은 어떨까?</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
</header>
<br>
<br>
<br>
