<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <call><%= @member.name %></call>
</p>

<p>
  <strong>Photo:</strong>
  <call><%= @member.photo %></call>
</p>
<%= link_to 'Back', members_path %>

